
.jeonju_content h4 {
    font-size: 10px;
    margin: 3px 0px;
}

.jeonju_content div {
    height: 200px;
    font-size: 14px;
}

.jeonju_info {
    font-size: 10px;
}


.jeonju_content img {
    max-height: 150px;
    margin-right: 10px;
}

